export default {
    mysqlHost: "localhost",
    mysqlUsername: "root",
    mysqlPassword: "password",
    mysqlDatabase: "anthera",
    bot: {
        token: "lnCXJjdWt9Lne3_faIhgQW1IO55xxXm8hgJHhU",
        server: "1209520098818269255"
    },
    phpConfig: ""
}
